.service_list_3 {
  text-align: left;
  font-weight: bold;
  color: darkmagenta;
  font-size: 20px;
  font-style: bold;
  display: block;
  position: absolute;
  top: 43%;
  left: 68%;
  background-color: rgba(224, 218, 208, 0.5);
  border-color: rgb(247, 245, 240);
  border-radius: 15px;
  border-width: 5px;
  border-style: groove;
  font-style: bold;
  width: 22%;
  padding-left: 5%;
}

.service_list_2 {
  text-align: left;
  font-weight: bold;
  color: darkmagenta;
  font-size: 20px;
  font-style: bold;
  display: block;
  position: absolute;
  top: 43%;
  left: 34%;
  background-color: rgba(224, 218, 208, 0.5);
  border-color: rgb(247, 245, 240);
  border-radius: 15px;
  border-width: 5px;
  border-style: groove;
  font-style: bold;
  width: 22%;
  padding-left: 5%;
}

.service_list {
  text-align: left;
  font-weight: bold;
  color: darkmagenta;
  font-size: 20px;
  font-style: bold;
  display: block;
  position: absolute;
  top: 43%;
  left: 2%;
  background-color: rgba(224, 218, 208, 0.5);
  border-color: rgb(247, 245, 240);
  border-radius: 15px;
  border-width: 5px;
  border-style: groove;
  font-style: bold;
  width: 22%;
  padding-left: 5%;
}

.Package_1 h2 {
  text-align: center;
  font-weight: bold;
  color: rgb(139, 56, 0);
  font-size: 21.5px;
  font-style: bold;
  display: block;
  position: absolute;
  top: 34%;
  left: 10%;
  background-color: rgb(212, 196, 168);
  border-color: rgb(247, 245, 240);
  border-radius: 15px;
  border-width: 5px;
  border-style: groove;
  font-style: bold;
  width: 8%;
  height: 4%;
}

.Package_2 h2 {
  text-align: center;
  font-weight: bold;
  color: rgb(139, 56, 0);
  font-size: 21.5px;
  font-style: bold;
  display: block;
  position: absolute;
  top: 34%;
  left: 44%;
  background-color: rgb(212, 196, 168);
  border-color: rgb(247, 245, 240);
  border-radius: 15px;
  border-width: 5px;
  border-style: groove;
  font-style: bold;
  width: 8%;
  height: 4%;
}

.Package_3 h2 {
  text-align: center;
  font-weight: bold;
  color: rgb(139, 56, 0);
  font-size: 21.5px;
  font-style: bold;
  display: block;
  position: absolute;
  top: 34%;
  left: 76%;
  background-color: rgb(212, 196, 168);
  border-color: rgb(247, 245, 240);
  border-radius: 15px;
  border-width: 5px;
  border-style: groove;
  font-style: bold;
  width: 8%;
  height: 4%;
}

.discount {
  font-size: 30px;
  position: absolute;
  right: 10%;
  top: 85%;
  color: darkblue;
  text-align: center;
  background-color: rgba(231, 149, 6, 0.829);
  border-color: rgb(44, 36, 16);
  border-radius: 10px;
  border-width: 5px;
  border-style: groove;
  width: 20%;
}

button {
  background-color: #4CAF50; /* Set background color */
  border: none; /* Remove border */
  color: white; /* Set text color */
  padding: 15px 32px; /* Set padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Set display to inline-block */
  font-size: 16px; /* Set font size */
  margin: 4px 2px; /* Set margin */
  cursor: pointer; /* Change cursor style */
  border-radius: 5px; /* Add rounded corners */
  position: absolute;
  left: 8.8%;
  top: 84%;
  width: 10%;
}

h1 {
  color: rgb(224, 69, 31);
  text-align: center;
  font-size: 20px;
  font-size: 60px;
  font-weight: bold;
  padding: 5px;
  background-color: rgba(224, 218, 208, 0.5);
  border-radius: 15px;
  font-style: bold;
  text-shadow: -1px -1px 0 rgb(74, 44, 44), 1px -1px 0 white, -1px 1px 0 blueviolet, 1px 1px 0 white;
}

h3 {
  text-align: center;
  font-weight: bold;
  color: rgb(45, 59, 7);
  font-size: 30px;
  font-style: bold;
  display: block;
  position: absolute;
  top: 15%;
  left: 20%;
  font-style: bold;
  width: 60%;
}

.Package_Price {
  text-align: left;
  font-weight: bold;
  color: rgb(139, 56, 0);
  font-size: 21.5px;
  font-style: bold;
  display: block;
  position: absolute;
  top: 74%;
  left: 1%;
  background-color: rgb(212, 196, 168);
  border-color: rgb(247, 245, 240);
  border-radius: 15px;
  border-width: 5px;
  border-style: groove;
  font-style: bold;
  width: 25%;
  padding-left: 5%;
}

.Package_Price_2 {
  text-align: left;
  font-weight: bold;
  color: rgb(139, 56, 0);
  font-size: 21.5px;
  font-style: bold;
  display: block;
  position: absolute;
  top: 74%;
  left: 33%;
  background-color: rgb(212, 196, 168);
  border-color: rgb(247, 245, 240);
  border-radius: 15px;
  border-width: 5px;
  border-style: groove;
  font-style: bold;
  width: 25%;
  padding-left: 5%;
}

.Package_Price_3 {
  text-align: left;
  font-weight: bold;
  color: rgb(139, 56, 0);
  font-size: 21.5px;
  font-style: bold;
  display: block;
  position: absolute;
  top: 74%;
  left: 67%;
  background-color: rgb(212, 196, 168);
  border-color: rgb(247, 245, 240);
  border-radius: 15px;
  border-width: 5px;
  border-style: groove;
  font-style: bold;
  width: 25%;
  padding-left: 5%;
}

p {
  font-size: 30px;
  position: absolute;
  left: 38%;
  top: 80%;
  color: darkblue;
  text-align: center;
  background-color: rgba(231, 149, 6, 0.829);
  border-color: rgb(44, 36, 16);
  border-radius: 10px;
  border-width: 5px;
  border-style: groove;
  width: 20%;
}

.Payment {
  border: none; /* Remove border */
  color: white; /* Set text color */
  padding: 15px 32px; /* Set padding */
  text-align: center; /* Center text */
  text-decoration: none; /* Remove underline */
  display: inline-block; /* Set display to inline-block */
  font-size: 16px; /* Set font size */
  margin: 4px 2px; /* Set margin */
  cursor: pointer; /* Change cursor style */
  border-radius: 5px; /* Add rounded corners */
  position: absolute;
  left: 79.4%;
  top: 2%;
  width: 80%;
}

/*# sourceMappingURL=style2.css.map */
